<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Shitus</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">Shitus</p>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <!-- 6 -->
        <li id="home"><a href="/">Home</a></li>
        <li id="about"><a href="/about">About</a></li>
        <li id="contact"><a href="/contact">Contact</a></li>
        <li id="register"><a href="/register">Register</a></li>
        <li id="register"><a href="/signin">Sign In</a></li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

<body>
  <div class="container">